grant {
   permission java.lang.RuntimePermission "setContextClassLoader";
   permission java.net.SocketPermission "*", "accept,listen,resolve";
   permission javax.management.MBeanServerPermission "*";
   permission javax.management.MBeanPermission "*", "*";
   permission javax.management.MBeanTrustPermission "*";
   permission java.security.AllPermission; 
};
